// Code generated by codex-folio OpenAPI generator 1.0.0; DO NOT EDIT.
// Contract source: api/openapi.json
// Response schema: #/$defs/MetadataResponse
package httpapi

import (
	"context"
	"encoding/json"
	"fmt"
	"net/http"
	"strings"
)

const (
	APIVersion           = "v1"
	ContractVersion      = "0.0.1-alpha"
	ContractSourceSHA256 = "d96113f0e8a323678e9235881911a12e92a0c98ca79e3df1be41c063a06fb664"
	MetadataPath         = "/api/v1/meta"
)

type MetadataResponse struct {
	APIVersion      string `json:"api_version"`
	ContractVersion string `json:"contract_version"`
	Product         string `json:"product"`
}

type HTTPDoer interface {
	Do(*http.Request) (*http.Response, error)
}

type Client struct {
	baseURL    string
	httpClient HTTPDoer
}

func NewClient(baseURL string, httpClient HTTPDoer) *Client {
	return &Client{
		baseURL:    strings.TrimRight(baseURL, "/"),
		httpClient: httpClient,
	}
}

func (client *Client) GetMetadata(ctx context.Context) (MetadataResponse, *http.Response, error) {
	var result MetadataResponse
	request, err := http.NewRequestWithContext(ctx, http.MethodGet, client.baseURL+MetadataPath, nil)
	if err != nil {
		return result, nil, err
	}
	request.Header.Set("Accept", "application/json")

	httpClient := client.httpClient
	if httpClient == nil {
		httpClient = http.DefaultClient
	}
	response, err := httpClient.Do(request)
	if err != nil {
		return result, nil, err
	}
	defer response.Body.Close()
	if response.StatusCode < http.StatusOK || response.StatusCode >= http.StatusMultipleChoices {
		return result, response, fmt.Errorf(
			"GET %s returned HTTP %d",
			MetadataPath,
			response.StatusCode,
		)
	}
	if err := json.NewDecoder(response.Body).Decode(&result); err != nil {
		return result, response, err
	}
	return result, response, nil
}
